<ul class="method">
	<ul class="header">
		<li class="icon _METHOD_LOWER">_METHOD_UPPER</li>
		<li class="title">/_METHOD_LOWER/_MODEL _ACCESS</li>
		<li class="description">_DESCRIPTION</li>
		<li class="links">
			_DOC
			_SCREEN
			_LINK
		</li>
	</ul>
	<div class="content">

		<form action="" id="_LOOP-form">
			<strong>Query</strong>
			<div class="table">
				<ul class="parameters header">
					<li>Parameter</li>
          <li>Value</li>
          <li>Default value</li>
          <li>Description</li>
          <li>Type</li>
          <li>Unique</li>
          <li>Private</li>
				</ul>

			_PARAMETER

			</div>

			_DATA

      <span>Url parameters </span><input style="width:80%;border: 1px solid rgba(0, 0, 0, 0.2);padding: 4px;" id="_LOOP-url-param" type="text" value="" placeholder="token=123456789&john=doe" ><br/>
			<input onclick="_FUNCTION" type="submit" value="Launch" class="execute" />
		</form>

		<div class="json tabs">
			<ul>
				<li><a data-id="_LOOP-tab-1" class="tab-header">Example</a></li>
				<li><a data-id="_LOOP-tab-2" class="tab-header">Request</a></li>
				<li><a id="_LOOP-header" data-id="_LOOP-tab-3" class="tab-header">Result</a></li>
			</ul>
			<div id="_LOOP-tab-1" class="tab-content">
				<div class="json-view">_EXAMPLE_RESULT</div>
			</div>
			<div id="_LOOP-tab-2" class="tab-content">
				<div class="json-view"></div>
			</div>
			<div id="_LOOP-tab-3" class="tab-content">
				<div class="json-view"></div>
				<div class="response-time">Response time : <span class="time">0ms</span></div>
			</div>

		</div>
	</div>
</ul>
