<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Restful API - _TITLE</title>
  <link rel="stylesheet" href="rest/style.css">
  <script src="/rest/js/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
	<script src="/rest/js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
  <script src="rest/js/script.js"></script>
</head>
	<body>

    <div id="modal" class="modal">
			<div class="mask"></div>
			<div class="modal-content">
				<div>
					<i class="fa fa-times"></i>
					<div id="modal-html">
						<ul id="modalUL">

						</ul>
					</div>
				</div>
			</div>
		</div>

		<header class="main-header">
			<h1>Restful api</h1>
			<h2>- _TITLE</h2>
		</header>

		<section class="main-content site-width">

			_VIEW

		</section>

	</body>
</html>
